
	<!-- <div id="preloader"></div> -->
	<div class="up">
		<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
	</div>

<!-- Start of header section
	============================================= -->
	<header id="header_id" class="main_header header_style_four">
		<!-- <div class="header_top_content clearfix">
			<div class="container">
				<div class="header_top_text float-left">
					<span>Do you want to consult us? <a routerLink="/loanonn/loan-web-app/browser/contact">Find out more</a></span>
				</div>
				<div class="header_top_contact float-right">
					<a href="#"><i class="fas fa-phone"></i> +91 74031 11222</a>
					<a href="#"><i class="fas fa-map-marker-alt"></i> 27/12 J, 2nd Floor, A K S Tower ,  Calicut , Kerala </a>
					<a href="#"><i class="far fa-envelope"></i> info</a>
				</div>
			</div>
		</div> -->
		<div class="header_main_menu_wrap clearfix">
			<div class="container">
				<div class="brand_logo float-left">
					<a href="#"><img src="/loanonn/loan-web-app/browser/assets/images/theme-images/loanon-logo.png" alt="logo"></a>
				</div>
				<div class="rx_menu_item">
					<nav class="rx_main_navigation ul-li">
						<ul>
							<li><a class="nav-link active" routerLink="/loanonn/loan-web-app/browser/home">Home</a></li>
							<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/about">About</a></li>
							<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/service">Service</a></li>
							<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/contact">Contact</a></li>
						</ul>
					</nav>
					<div class="rx_header_btn text-center text-uppercase float-right">
						<a [routerLink]="['/loanonn/loan-web-app/browser/loan-app']">Loan App</a>
					</div>
				</div>
				<!-- desktop menu -->
				<div class="rx-mobile_menu position-relative">
					<div class="rx-mobile_menu_button rx-open_mobile_menu">
						<i class="fas fa-bars"></i>
					</div>
					<div class="rx-mobile_menu_wrap">
						<div class="mobile_menu_overlay rx-open_mobile_menu"></div>
						<div class="rx-mobile_menu_content">
							<div class="rx-mobile_menu_close rx-open_mobile_menu">
								<i class="fas fa-times"></i>
							</div>
							<div class="m-brand-logo text-center">
								<a routerLink="/loanonn/loan-web-app/browser/home"><img src="/loanonn/loan-web-app/browser/assets/images/theme-images/loanon-logo.png" alt=""></a>
							</div>
							<nav class="rx-mobile-main-navigation  clearfix ul-li">
								<ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
									<li><a class="nav-link active" routerLink="/loanonn/loan-web-app/browser/home">Home</a></li>
									<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/about">About</a></li>
									<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/service">Service</a></li>
									<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- /Mobile-Menu -->
				</div>
			</div>
		</div>
	</header>
<!-- End of header section
	============================================= -->

<!-- Start of slider  section
	============================================= -->		
	<section id="slider_area" class="slider_section">
		<div id="slider_id" class="slider_style_four">
			<div class="slider_content_wrap position-relative">
				<div class="background_overlay"></div>
				<div class="rx_slider_img img-zooming" data-background="/loanonn/loan-web-app/browser/assets/images/img/slider1.jpeg"></div>
				<div class="container">
					<div class="rx_slider_text_img_area position-relative">
						<div class="rx_slider_text headline pera-content"> 
							<span>Welcome to Loan Onn </span>
							<h1>For Your Infinite Dreams</h1>
							<p>Loans enable simply, leave everything to us, zero hassle.

								In</p>
							<a routerLink="/loanonn/loan-web-app/browser/contact">Contact Us</a>
						</div>
						
					</div>
				</div>
			</div>
			<div class="slider_content_wrap position-relative">
				<div class="background_overlay"></div>
				<div class="rx_slider_img img-zooming" data-background="/loanonn/loan-web-app/browser/assets/images/img/slider2.jpeg"></div>
				<div class="container">
					<div class="rx_slider_text_img_area position-relative">
						<div class="rx_slider_text headline pera-content"> 
							<span>Welcome to Loan Onn </span>
							<h1>Tailored Financial Products Just for You, with Zero Service Fees</h1>
							<p>Expert Guidance for Your Financial Needs - Absolutely Free
							</p>
							<a routerLink="/loanonn/loan-web-app/browser/contact">Contact Us</a>
						</div>
						
					</div>
				</div>
			</div>
			<div class="slider_content_wrap position-relative">
				<div class="background_overlay"></div>
				<div class="rx_slider_img img-zooming" data-background="/loanonn/loan-web-app/browser/assets/images/img/slider3.jpg"></div>
				<div class="container">
				 
					<div class="rx_slider_text_img_area position-relative">
						<div class="rx_slider_text headline pera-content"> 
							<span>Welcome to Loan Onn </span>
							<h1>Smart Financial Choices Made Simple with Loan Onn</h1>
							<p>- No Fees, No Hassle</p>
							<a routerLink="/loanonn/loan-web-app/browser/contact">Contact Us</a>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of slider section
	============================================= -->

<!-- Start of Feature  section
	============================================= -->
	<section id="rx-feature" class="rx-feature-section position-relative">
		<div class="container">
			<div class="rx-feature-content">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1000ms">
						<div class="rx-feature-icon-text text-center">
							<div class="rx-feature-icon">
								<i class="flaticon-family"></i>
							</div>
							<div class="rx-feature-text headline pera-content">
								<h3><a href="#">Dedicated Relationship Officers</a></h3>
								<p>Every customer at Loan Onn is assigned a dedicated Relationship Officer. This ensures that you receive personalized attention and support throughout your financial journey. </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1000ms">
						<div class="rx-feature-icon-text text-center">
							<div class="rx-feature-icon">
								<i class="flaticon-gavel"></i>
							</div>
							<div class="rx-feature-text headline pera-content">
								<h3><a href="#">Comprehensive After-Sales Support</a></h3>
								<p>We take pride in our unmatched after-sales support. From repayment schedules and tax certificates to claim processing and duplicate certificates, we handle it all.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="600ms" data-wow-duration="1000ms">
						<div class="rx-feature-icon-text text-center">
							<div class="rx-feature-icon">
								<i class="flaticon-justice"></i>
							</div>
							<div class="rx-feature-text headline pera-content">
								<h3><a href="#">Your Financial Success is Our Priority
								</a></h3>
								<p>At Loan Onn, we are dedicated to empowering you to make informed financial decisions. Our expert guidance, combined with our comprehensive product range, ensures that you can achieve your financial goals effortlessly.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>		
<!-- End of Feature  section
	============================================= -->
	<div class="container pt-5 pb-5">
		<div class="rx-section-title headline text-center">
			<h2>In Association
				<span>With</span>  </h2>
		</div>
	
		<div id="inAssociate" class="owl-carousel owl-theme">
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/bajaj-finserv.png" alt=""> </div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/bank-of-baroda.png" alt=""> </div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/chola.png" alt=""> </div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/esaf.png" alt=""> </div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/federal-bank.png" alt=""> </div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/hdfc-bank.png" alt=""></div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/hdfc.png" alt=""></div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/idfc.png" alt=""></div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/indusland.png" alt=""></div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/kotak-1.png" alt=""></div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/magma.png" alt=""></div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/SBI.png" alt=""></div>
			<div class="item"> <img src="/loanonn/loan-web-app/browser/assets/images/img/yes-bank.png" alt=""></div>
		
		</div>
	</div>
	<div class="container pt-5">
		<div class="rx-section-title headline text-center">
			<h2>Loan Onn <span>Reward</span>  Points System </h2> </div>
				<marquee behavior=""  class="pt-3 pb-3 marq" direction="float-left" scrollamount="5"> <a href="#">1 Loan Onn Coin = ₹ 1</a>&nbsp;&nbsp;&nbsp; <i aria-hidden="true" class="far fa-heart"></i> &nbsp;&nbsp;&nbsp;

					<a href="#"> ₹1 Lakh Home Loan = 25 Points</a> &nbsp;&nbsp;&nbsp;<i aria-hidden="true" class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;
					
					<a href="#">₹1 lakh Loan Against Property = 50 Points</a> <i aria-hidden="true" class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;
					
					<a href="#">₹1 lakh  Auto / Car Loan = 100 Points</a>&nbsp;&nbsp;&nbsp; <i aria-hidden="true" class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;
					
					<a href="#">₹1 Lakh Personal Loan = 100 Points</a> &nbsp;&nbsp;&nbsp;<i aria-hidden="true" class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;
					
					<a href="#">₹1000 Health Insurance  = 50 Points</a> &nbsp;&nbsp;&nbsp;<i aria-hidden="true" class="far fa-heart"></i>&nbsp;&nbsp;&nbsp;
					
					<a href="#">₹10000 Life Insurance = 100 Points  </a>&nbsp;&nbsp;&nbsp;
				</marquee>
		
	</div>
	
<!-- Start of about  section
	============================================= -->		
	<section class="rx-about-section">
		<div class="container">
			<div class="rx-about-content">
				<div class="row">
					<div class="col-lg-6 wow fadeFromLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
						<div class="rx-about-award-img position-relative">
							<div class="rx-about-img-wrap">
								<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/ab.jpg" alt="">
							</div>
							<!-- <div class="rx-about-award-text">
								<i class="fas fa-trophy"></i> <span>Experiences of 25+ years</span>
							</div> -->
						</div>
					</div>
					<div class="col-lg-6 wow fadeFromRight" data-wow-delay="100ms" data-wow-duration="1000ms">
						<div class="rx-about-text">
							<div class="rx-section-title headline">
								<h2>Welcome to Loan Onn - 
									<span>Your Financial Solutions Partner</span>
								</h2>
							</div>
							<div class="rx-about-text-wrap ul-li-block pera-content">
								<h4>
									
									At Loan Onn, we pride ourselves on being your one-stop destination for all loans, insurance, and investment products. Our mission is to help you compare and choose from a variety of financial products, tailored specifically to your needs. Our expert team conducts a comprehensive 360-degree analysis to provide you with the best-customized solutions.								</h4>
								<ul>
									<li>Dummy Content</li>
									<li>Dummy Content</li>
									<li>Dummy Content</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of about  section
	============================================= -->

<!-- Start of practice area  section
	============================================= -->

	<section class="rx-practice-section">
		<div class="container">
			<div class="rx-section-title headline text-center">
				<h2>Services  
					<span>We</span> Provide </h2>
			</div>
			<div class="rx-practice-content">
				<div class="row">
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#"> Home Loan</a></h3>
							
							</div>
							<div class="rx-practice-icon text-center">
								<i class="fas fa-home "></i>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="10ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#">Car Loan</a></h3>
							
							</div>
							<div class="rx-practice-icon text-center">
								<i class="fas fa-car "></i>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#">Personal Loan</a></h3>
								
							</div>
							<div class="rx-practice-icon text-center">
								<i class="fas fa-user "></i>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="400ms" data-wow-duration="1000ms">
						<div class="rx-practice-icon-text position-relative">
							<div class="rx-practice-text headline">
								<h3><a href="#">Credit card</a></h3>
								
							</div>
							<div class="rx-practice-icon text-center">
								<i class="fas fa-credit-card"></i>
							</div>
						</div>
					</div>
				
				</div>
				<div class="rx-practice-btn">
					<a routerLink="/loanonn/loan-web-app/browser/service">More Services</a>
				</div>
			</div>
		</div>
	</section>
<!-- End of practice area section
	============================================= -->

<!-- Start of portfolio section
	============================================= -->
	<!-- <section class="rx-portfolio-secton">
		<div class="rx-section-title headline text-center">
			<h2>We have shown Our Resent
				<span>Case Studies.</span>
			</h2>
		</div>
		<div class="rx-portfolio-content">
			<div id="portfolio-slide-id" class="rx-portfolio-slider">
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt1.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt2.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt3.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt4.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt5.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt6.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt7.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt8.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt9.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="rx-portfolio-innerbox position-relative">
					<div class="rx-portfolio-border"></div>
					<div class="rx-portfolio-img position-relative">
						<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/prt10.jpg" alt="">
					</div>
					<div class="rx-portfolio-text headline">
						<span class="text-uppercase"><a href="#">criminal case</a></span>
						<h3><a href="#">Donald Car Case</a></h3>
					</div>
					<div class="rx-port-icon text-center">
						<a href="!#"> <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>		 -->
<!-- End of portfolio section
	============================================= -->

<!-- Start of Counter section
	============================================= -->		
	<section class="rx-counter-section">
		<div class="background_parallax background_position relative-position" data-background="assets/img/law/slider/s1.jpg">
			<div class="background_overlay"></div>
			<div class="container"> 
				<div class="row">
					<div class="col-lg-3  col-sm-6">
						<div class="rx-counter-icon-text">
							<div class="rx-counter-icon float-left">
								<i class="far fa-thumbs-up"></i>
							</div>
							<div class="rx-counter-text pera-content">
								<span class="odometer" data-count="438">00</span>
								<p>Satisfied Customers</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3  col-sm-6">
						<div class="rx-counter-icon-text">
							<div class="rx-counter-icon float-left">
								<i class="far fa-comment"></i>
							</div>
							<div class="rx-counter-text pera-content">
								<span class="odometer" data-count="250">00</span>
								<p>Consulted</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3  col-sm-6">
						<div class="rx-counter-icon-text">
							<div class="rx-counter-icon float-left">
								<i class="far fa-lightbulb"></i>
							</div>
							<div class="rx-counter-text pera-content">
								<span class="odometer" data-count="1138">00</span>
								<p>Satisfied Customers</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3  col-sm-6">
						<div class="rx-counter-icon-text">
							<div class="rx-counter-icon float-left">
								<i class="fas fa-briefcase"></i>
							</div>
							<div class="rx-counter-text pera-content">
								<span class="odometer" data-count="38">00</span>
								<p>Satisfied Customers</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Counter section
	============================================= -->

<!-- Start of testimonial section
	============================================= -->
	<section class="rx-testimonial-section">
		<div class="container">
			<div class="rx-section-title headline text-center">
				<h2>See What Out Happy
					<span>Clients</span> Says
				</h2>
			</div>
			<div class="rx-testimonial-content">
				<div id="rx-testimonial-slide-id" class="rx-testimonial-slider">
					<div class="rx-testimonial-img-text">
						<div class="rx-testimonial-img float-left position-relative">
							<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/tst1.jpg" alt="">
							<span class="rx-testi-quote"><i class="fas fa-quote-right"></i></span>
						</div>
						<div class="rx-testimonial-text headline pera-content">
							<div class="rx-testimonial-author">
								<h4><a href="#">Robert Frost</a></h4>
								<span>Managing Dirrector</span>
							</div>
							<p>Reach out not the long pole in my tent, but pull in ten extra bodies to help roll the tortoise, yet face time pipeline, for blue sky. creativity requires you to murder your children Cross sabers rehydrate.</p>
						</div>
					</div>
					<div class="rx-testimonial-img-text">
						<div class="rx-testimonial-img float-left position-relative">
							<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/tst2.jpg" alt="">
							<span class="rx-testi-quote"><i class="fas fa-quote-right"></i></span>
						</div>
						<div class="rx-testimonial-text headline pera-content">
							<div class="rx-testimonial-author">
								<h4><a href="#">Nobilt Gilt</a></h4>
								<span>Consulting Manager</span>
							</div>
							<p>
								This is our north star design at the end of the day, for digital literacy. Good optics prethink. Green technology and climate change products need full resourcing and support from a cross-functional</p>
						</div>
					</div>
					<div class="rx-testimonial-img-text">
						<div class="rx-testimonial-img float-left position-relative">
							<img src="/loanonn/loan-web-app/browser/assets/images/theme-images/tst1.jpg" alt="">
							<span class="rx-testi-quote"><i class="fas fa-quote-right"></i></span>
						</div>
						<div class="rx-testimonial-text headline pera-content">
							<div class="rx-testimonial-author">
								<h4><a href="#">Robert Frost</a></h4>
								<span>SEO Expert</span>
							</div>
							<p>I recently worked with <span>easilon</span> for my home renovation project, and I couldn't be happier with the results. From the moment I walked into their showroom, I was impressed by the extensive selection</p>
						</div>
					</div>
					<div class="rx-testimonial-img-text">
						<div class="rx-testimonial-img float-left position-relative">
							<img src="images/tst2.jpg" alt="">
							<span class="rx-testi-quote"><i class="fas fa-quote-right"></i></span>
						</div>
						<div class="rx-testimonial-text headline pera-content">
							<div class="rx-testimonial-author">
								<h4><a href="#">Nobilt Gilt</a></h4>
								<span>Consulting Manager</span>
							</div>
							<p>I have zero cycles for this first-order optimal strategies. Closing these latest prospects is like putting socks on an octopus out of scope, for we need evergreen content What's our go to market strategy.</p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>		
<!-- End of testimonial section
	============================================= -->

<!-- Start of Footer section
	============================================= -->
	<footer class="footer_section relative-position footer_section_4">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="footer_content">
				<div class="row">
					<div class="col-lg-4 col-md-12">
						<div class="footer_widget headline">
							<h3 class="widget_title">
								About Us
							</h3>
							<!-- <div class="widget_footer_text">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam pariatur, totam doloribus porro eum architecto iste ipsam omnis ad! Neque.
							</div> -->
							
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="footer_widget headline">
							<h3 class="widget_title">
								Usefull Link

							</h3>
							<div class="practice_list ul-li-block clearfix">
								<ul>
									<li><a class="nav-link active" routerLink="/loanonn/loan-web-app/browser/home">Home</a></li>
							<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/about">About</a></li>
							<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/service">Service</a></li>
							<li><a class="nav-link" routerLink="/loanonn/loan-web-app/browser/contact">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="footer_widget headline">
							<h3 class="widget_title">
								Contact Us
							</h3>
							<div >
								<ul>
									<li>
										<i class="fas fa-map-marker-alt mr-2"></i> 
										<a href="#"> NFIN PLUS PVT LTD
											27/12 J, 2nd Floor, A K S Tower
											Puthiyara Jn., Calicut
											Kerala – 673004 </a>
									</li>
									<li >
										<i class="fas fa-envelope mr-2"></i><a href="#">
											info&#64;investfinanceplus.com</a>
									</li>
									<li>
										<i class="fas fa-phone mr-2"></i><a href="#">
											+91 74031 11222</a>
									</li>
									<li>
										<i class="fas fa-phone mr-2"></i><a href="#">
											
+91 74039 09090</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="footer_copyright">
		<div class="container">
			<div class="footer_copyright_content">
				<div class="row">
					<div class="col-lg-4 col-md-12">
						<div class="footer_social ul-li clearfix">
							<ul>
								<li><a href="https://www.facebook.com/infinsmartadvise/"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="https://www.instagram.com/infinsmartadvise/"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="footer_logo text-center">
							<a href="index.html"><img src="images/flogo-1.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="copyright_text text-right">
							Copyright By  <a href="https://hexabranding.com/">Hexa Branding</a> - 2024
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- End of Footer section
	============================================= -->
