.item {
    padding: 0 20px;
    img {
        height: 70px;
        object-fit: contain;
    }
}
.marq{
    a {
        font-size: 20px;
        text-decoration: none;
        color: #214598;
    }
}