<div class="container">
  <div class="row pt-3">
    <div class="mt-3 col-md-3 card-div col-sm-6 ">
      <div class="card bg-peacock">
        <div class="card-body text-center p-4">
          <img class="img-fluid" src="/loanonn/loan-web-app/browser/assets/images/img/home-loan.png" alt="home loan"/>
          <p class="font-weight-bold pt-3">Home loan</p>
        </div>
      </div>
    </div>
    <div class="mt-3 col-md-3 card-div col-sm-6 ">
      <div class="card bg-peacock">
        <div class="card-body text-center p-4">
          <img class="img-fluid" src="/loanonn/loan-web-app/browser/assets/images/img/car-loan.png" alt=""
          />
          <p class="font-weight-bold pt-3">Car Loan</p>
        </div>
      </div>
    </div>
    <div class="mt-3 col-md-3 card-div col-sm-6 ">
      <div class="card bg-peacock">
        <div class="card-body text-center p-4">
          <img class="img-fluid" src="/loanonn/loan-web-app/browser/assets/images/img/personal-loan.png" alt=""
          />
          <p class="font-weight-bold pt-3">Personal Loan</p>
        </div>
      </div>
    </div>
    <div class="mt-3 col-md-3 card-div col-sm-6 ">
      <div class="card bg-peacock">
        <div class="card-body text-center p-4">
          <img class="img-fluid" src="/loanonn/loan-web-app/browser/assets/images/img/creditcard.png" alt=""
          />
          <p class="font-weight-bold pt-3">Credit card</p>
        </div>
      </div>
    </div>
  </div>
</div>